{% extends 'base.html' %}

{% load static %}

{% block head %}

    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}

{% block header %}
    <h2>
        {{ medicine.name }}
    </h2>
{% endblock %}

{% block content %}

    <div class="row mb-4">
        <div class="col-lg-6">
            <h5 class="sizes mb-2"><b>Categoria: </b>
                <span class="" data-toggle="tooltip" title="small">{{ medicine.category.name }}</span> <br>
            </h5>

            <h5 class="sizes mb-2"><b>Composição: </b>
                {{ medicine.composition|default:'Não informado' }}
            </h5>

            <h5 class="sizes mb-2"><b>Total em Estoque: </b>
                {{ medicine.total_in_stock }}
            </h5>
        </div>
        <div class="col-lg-6">
            <h5 class="sizes mb-2"><b>Volume: </b>
                <span class="" data-toggle="tooltip" title="small"> {{ medicine.volume|default:'Não informado' }}</span> <br>
            </h5>

            <h5 class="sizes mb-2"><b>Fornecedor: </b>
                <span class="" data-toggle="tooltip" title="small"> {{ medicine.supplier|default:'Não informado' }}</span> <br>
            </h5>

            <h5><b>Doenças tratáveis: </b><br>
                {% for illness in medicine.illness.all %}
                    <span class="" data-toggle="tooltip" title="small">{{ illness.name }}</span> <br>
                {% endfor %}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header pb-0 bg-primary">
                    <h5 class="card-title text-white">Estoque</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped" id="dataTable">
                        <thead>
                        <tr>
                            <th>Data de entrada</th>
                            <th>Data de vencimento</th>
                            <th>Quantidade</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lot in medicine.lot_set.all %}
                            <tr>
                                <td>{{ lot.entry_date|date:'d/m/Y' }}</td>
                                <td>{{ lot.shelf_life_date|date:'d/m/Y' }}</td>
                                <td>{{ lot.amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="2">Total</th>
                            <th class="text-center"></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
                },
                order: [[ 0, "asc" ], [ 1, "asc" ]],
                searching: false,
                columnDefs: [
                    {"className": "text-center", "targets": 2},
                ],
                footerCallback: function ( row, data, start, end, display ) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column( 2 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    // Update footer
                    $( api.column( 2 ).footer() ).html(
                        total
                    );
                }
            });
        });
    </script>

{% endblock %}