{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'libs/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'libs/select2-4.0.12/dist/css/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <h2>
        {% if form.instance.pk %} Editar {% else %} Cadastrar {% endif %} Remédio
    </h2>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" id="main-form">
                        {% csrf_token %}

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}{% if form.name.field.required %}*{% endif %}</label>
                                {{ form.name }}
                            </div>
                            <div class="col-sm-6">
                                <label for="{{ form.volume.id_for_label }}">{{ form.volume.label }}{% if form.volume.field.required %}*{% endif %}</label>
                                {{ form.volume }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="{{ form.category.id_for_label }}">{{ form.category.label }}{% if form.category.field.required %}*{% endif %}</label>
                                {{ form.category }}
                            </div>
                            <div class="col-sm-6">
                                <label for="{{ form.illness.id_for_label }}">{{ form.illness.label }}{% if form.illness.field.required %}*{% endif %}</label>
                                {{ form.illness }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="{{ form.composition.id_for_label }}">{{ form.composition.label }}{% if form.composition.field.required %}*{% endif %}</label>
                                {{ form.composition }}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="{% url 'medicines' %}" class="btn btn-secondary btn-sm">Cancelar</a>
                                <button class="btn btn-primary btn-sm" type="button" onclick="return $('#main-form').submit();">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'libs/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'libs/select2-4.0.12/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'libs/select2-4.0.12/dist/js/i18n/pt-BR.js' %}"></script>

    <script>
        $('#{{ form.illness.id_for_label }}').multiselect({
            nonSelectedText: 'Nenhum',
            filterPlaceholder: 'Buscar',
            selectAllText: 'Selecionar todos',
            allSelectedText: 'Todos',
            buttonWidth: '100%',
            includeSelectAllOption: true,
        });

        $('#{{ form.category.id_for_label }}').select2({
            locale: 'pt-BR',
        })

    </script>

{% endblock %}
