{% extends 'base.html' %}

{% load static %}

{% block head %}

    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}

{% block header %}
    <h2>
        Medicamentos &nbsp
        <a href="{% url 'medicine_create' %}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp  Cadastrar Medicamento</a>
    </h2>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="dataTable">
                    <thead>
                    <tr>
                        <th>Medicamento</th>
                        <th>Categoria</th>
                        <th>Volume</th>
                        <th>Fornecedor</th>
                        <th style="width: 10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for medicine in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'medicine_detail' medicine.id %}">{{ medicine.name }}</a>
                            </td>
                            <td>
                                {{ medicine.category.name }}
                            </td>
                            <td>
                                {{ medicine.volume }} ml
                            </td>
                            <td>
                                {{ medicine.supplier }}
                            </td>
                            <td>
                                <form method="post" action="{% url 'medicine_delete' medicine.id %}" class="p-0 m-0">
                                    {% csrf_token %}
                                    <a href="{% url 'medicine_update' medicine.id %}" class="btn btn-write btn-sm">
                                        <i class="fa fa-fw fa-edit"></i>
                                    </a>
                                    <button type="submit" class="btn btn-write btn-sm" onclick="return confirm('Você tem certeza que deseja remover?');">
                                        <i class="fa fa-fw fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script src="{% static 'vendor/datatables/accent-neutralise.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
                },
                columnDefs: [ {
                    "targets": 4,
                    "orderable": false
                }]
            });
        });
    </script>

{% endblock %}