{% extends 'base.html' %}

{% load static %}

{% block head %}

    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <style>
        td.details-control {
            background: url({% static 'img/add-icon.png' %}) no-repeat center center;
            background-size: 30px, 30px;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url({% static 'img/close-icon.png' %}) no-repeat center center;
            background-size: 30px, 30px;
        }
    </style>

{% endblock %}

{% block header %}
    <h2>
        Espirometrias &nbsp
        <a href="{% url 'spirometry_create' %}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp  Cadastrar Espirometria</a>
    </h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="dataTable">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Paciente</th>
                                <th>Convênio</th>
                                <th>Data</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for spirometry in object_list %}
                                <tr>
                                    <td></td>
                                    <td>
                                        {{ spirometry.patient.name }}
                                    </td>
                                    <td>
                                        {{ spirometry.patient.convenio }}
                                    </td>
                                    <td>
                                        {{ spirometry.date|date:'d/m/Y' }}
                                    </td>
                                    <td>
                                        <form method="post" action="{% url 'spirometry_delete' spirometry.id %}" class="p-0 m-0">
                                            {% csrf_token %}
                                            <a href="{% url 'spirometry_update' spirometry.id %}" class="btn btn-write btn-sm">
                                                <i class="fa fa-fw fa-edit"></i>
                                            </a>
                                            <button type="submit" class="btn btn-write btn-sm" onclick="return confirm('Você tem certeza que deseja remover?');">
                                                <i class="fa fa-fw fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            function format () {
                return "<ul>" +
                    {% for material in materiais %}
                        "<li>{{ material.name }}</li>" +
                    {% endfor %}
                    "</ul>"
            }


            var $table = $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
                },
                columnDefs: [
                    {
                        "orderable": false,
                        "targets":   [0, 3]
                    }
                ],
                columns: [
                    {
                        "className":      'details-control',
                        "data":           null,
                        "defaultContent": ''
                    },
                    { "data": "patient" },
                    { "data": "convenio" },
                    { "data": "date" },
                    {  },
                ],
            });


            $('#dataTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = $table.row( tr );

                if ( row.child.isShown() ) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    row.child( format() ).show();
                    tr.addClass('shown');
                }
            } );
        });
    </script>

{% endblock %}