{% extends 'base.html' %}

{% load static %}

{% block head %}

    <link href="{% static 'libs/fullCalendar/core/main.css' %}" rel='stylesheet' />
    <link href="{% static 'libs/fullCalendar/bootstrap/main.css' %}" rel='stylesheet' />
    <link href="{% static 'libs/fullCalendar/daygrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'libs/fullCalendar/timegrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'libs/fullCalendar/timeline/main.css' %}" rel='stylesheet' />
    <link href="{% static 'libs/fullCalendar/resource-timeline/main.css' %}" rel='stylesheet' />

{% endblock %}

{% block header %}
    <h2>
        Agenda
    </h2>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'libs/fullCalendar/core/main.js' %}"></script>
    <script src="{% static 'libs/fullCalendar/bootstrap/main.js' %}"></script>
    <script src="{% static 'libs/fullCalendar/interaction/main.js' %}"></script>
    <script src="{% static 'libs/fullCalendar/daygrid/main.js' %}"></script>
    <script src="{% static 'libs/fullCalendar/timegrid/main.js' %}"></script>
    <script src="{% static 'libs/fullCalendar/timeline/main.js' %}"></script>
    <script src="{% static 'libs/fullCalendar/resource-common/main.js' %}"></script>
    <script src="{% static 'libs/fullCalendar/resource-timeline/main.js' %}"></script>
    <script src="{% static 'libs/fullCalendar/core/locales/pt-br.js' %}"></script>


    <script>
        $(document).ready(function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'resourceTimeline' ],
                locale: 'pt-br',
                themeSystem: 'bootstrap',
                allDaySlot: false,
                editable: true,
                selectable: true,
                minTime: '06:00',
                maxTime: '20:00',
                slotDuration: '00:30',
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    timeformat: 'H:mm',
                },
                header: {
                    left: 'today prev,next',
                    center: 'title',
                    right: 'timeGridDay,resourceTimelineThreeDays,timeGridWeek,dayGridMonth'
                },
                defaultView: 'timeGridDay',
                views: {
                    resourceTimelineThreeDays: {
                        type: 'timeGridWeek',
                        duration: { days: 3 },
                        buttonText: '3 dias'
                    }
                },
                select: function(info) {
                    window.location.href = "{% url 'appointment_create' %}";
                }
            });
            calendar.render();
        });

    </script>

{% endblock %}