{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'libs/select2-4.0.12/dist/css/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <h2>
        {% if form.instance.pk %} Editar {% else %}Criar {% endif %}Agendamento
    </h2>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" id="appointment-form">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="{{form.patient.id_for_label}}">{{ form.patient.label }}{% if form.patient.field.required %}*{% endif %}</label>
                                {{ form.patient }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}{% if form.date.field.required %}*{% endif %}</label>
                                {{ form.date }}
                            </div>
                            <div class="col-sm-4">
                                <label for="{{ form.start_hour.id_for_label }}">{{ form.start_hour.label }}{% if form.start_hour.field.required %}*{% endif %}</label>
                                {{ form.start_hour }}
                            </div>
                            <div class="col-sm-4">
                                <label for="{{ form.end_hour.id_for_label }}">{{ form.end_hour.label }}{% if form.end_hour.field.required %}*{% endif %}</label>
                                {{ form.end_hour }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}{% if form.notes.field.required %}*{% endif %}</label>
                                {{ form.notes }}
                            </div>
                        </div>
                    </form>

                    <div class="form-group row">
                        <div class="col-sm-12 col-sm-offset-12">
                            <a href="{% url 'schedule' %}" class="btn btn-secondary">Cancelar</a>
                            <button class="btn btn-primary" type="button" onclick="return $('#appointment-form').submit()">Salvar</button>
                            {% if form.instance.pk %}
                                <button class="btn btn-danger" type="button" id="delete-button">
                                    Excluir
                                </button>
                                <form method="post" action="{% url 'appointment_delete' form.instance.pk %}" id="delete-form">
                                    {% csrf_token %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'libs/select2-4.0.12/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'libs/select2-4.0.12/dist/js/i18n/pt-BR.js' %}"></script>

    <script src="{% static 'libs/vanilla-text-mask/vanilla-text-mask.js' %}"></script>
    <script src="{% static 'libs/vanilla-text-mask/text-mask-addons.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var $id_patient = $('#{{ form.patient.id_for_label }}');

            $id_patient.select2({
                locale: 'pt-BR',
                placeholder: "Digite o nome para encontrar o Paciente.",
                allowClear: true,
                minimumInputLength: 3,
                ajax: {
                    url: '{% url "ajax_patients" %}',
                    type: 'GET',
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.label,
                                    id: item.id,
                                    name: item.name
                                }
                            })
                        };
                    }
                },
            });

            $id_patient.on('select2:select', function (e) {
                var data = e.params.data;
                if (data.id === 'NEW_PATIENT') {
                    window.location = `{% url 'patient_create' %}?patient_name=${data.name}`;
                }
            });

            {% if patient %}

                var newOption = new Option('{{ patient.name }}', '{{ patient.id }}', true, true);
                $id_patient.append(newOption).trigger('change');

            {% endif %}

            $(function () {
                vanillaTextMask.maskInput({
                    inputElement: $('#{{ form.start_hour.id_for_label }}')[0],
                    mask: [/[0-2]/, /\d/, ':', /[0-6]/, /\d/],
                    guide: false
                });
                vanillaTextMask.maskInput({
                    inputElement: $('#{{ form.end_hour.id_for_label }}')[0],
                    mask: [/[0-2]/, /\d/, ':', /[0-6]/, /\d/],
                    guide: false
                });
                vanillaTextMask.maskInput({
                    inputElement: $('#{{form.date.id_for_label}}')[0],
                    mask: [/[0-3]/, /\d/, '-', /[0-1]/, /\d/, '-', /[1-2]/, /\d/, /\d/, /\d/],
                    guide: false
                });
            });

            $('#delete-button').click(function () {
                var confirme = confirm('Você tem certeza que deseja excluir?');
                if(confirme === true) {
                    $('#delete-form').submit();
                }
            })

        });

    </script>

{% endblock %}