{% load static %}

<div class="modal-header">
    <h5 class="modal-title">Agendar Aplicação</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form method="post" id="appointment-form" action="{% url 'appointment_create_modal' immunotherapy.id %}">
        {% csrf_token %}

        {{ form.patient.as_hidden }}

        <div class="form-group row">
            <div class="col-sm-4">
                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}{% if form.date.field.required %}*{% endif %}</label>
                {{ form.date }}
            </div>
            <div class="col-sm-4">
                <label for="{{ form.start_hour.id_for_label }}">{{ form.start_hour.label }}{% if form.start_hour.field.required %}*{% endif %}</label>
                {{ form.start_hour }}
            </div>
            <div class="col-sm-4">
                <label for="{{ form.end_hour.id_for_label }}">{{ form.end_hour.label }}{% if form.end_hour.field.required %}*{% endif %}</label>
                {{ form.end_hour }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}{% if form.notes.field.required %}*{% endif %}</label>
                {{ form.notes }}
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary">Cancelar</button>
    <button type="button" class="btn btn-success" id="save-appointment">Salvar</button>
</div>

{% block script %}
    <script src="{% static 'libs/vanilla-text-mask/vanilla-text-mask.js' %}"></script>
    <script src="{% static 'libs/vanilla-text-mask/text-mask-addons.js' %}"></script>
    <script>
        $(function () {
            vanillaTextMask.maskInput({
                inputElement: $('#{{ form.start_hour.id_for_label }}')[0],
                mask: [/[0-2]/, /\d/, ':', /[0-6]/, /\d/],
                guide: false
            });
            vanillaTextMask.maskInput({
                inputElement: $('#{{ form.end_hour.id_for_label }}')[0],
                mask: [/[0-2]/, /\d/, ':', /[0-6]/, /\d/],
                guide: false
            });
            vanillaTextMask.maskInput({
                inputElement: $('#{{form.date.id_for_label}}')[0],
                mask: [/[0-3]/, /\d/, '-', /[0-1]/, /\d/, '-', /[1-2]/, /\d/, /\d/, /\d/],
                guide: false
            });
        });

        $('#save-appointment').on('click', function () {
            $('#appointment-form').submit()
        })
    </script>
{% endblock %}
