{% extends 'base.html' %}

{% load static %}

{% block head %}

    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block header %}
    <h2>
        {{ immunotherapy.patient.name }}&nbsp
        {% if immunotherapy.status == immunotherapy.IN_PROGRESS %}
            <button class="btn btn-sm btn-primary" data-remote="{% url 'application_create' immunotherapy.id %}"  data-toggle="modal" data-target="#applicationModal">
                Cadastrar Aplicação
            </button>
            <button type="button" class="btn btn-sm btn-success" {% if immunotherapy.bottle_in_use %} onclick="return alert('Finalize o frasco em uso antes de finalizar a imunoterapia!')" {% else %} data-remote="{% url 'immunotherapy_finishe' immunotherapy.id %}"  data-toggle="modal" data-target="#finisheModal" {% endif %}>
                Finalizar Imunoterapia
            </button>
            <button type="button" class="btn btn-sm btn-info" data-remote="{% url 'tag_pdf' immunotherapy.id %}"  data-toggle="modal" data-target="#tagModal">
                Imprimir Etiqueta
            </button>
            <button type="button" class="btn btn-sm btn-warning" data-remote="{% url 'appointment_create_modal' immunotherapy.id %}"  data-toggle="modal" data-target="#appointmentModal">
                Agendar aplicação
            </button>
        {% endif %}
    </h2>
{% endblock %}

{% block content %}

    <div class="row mb-4">
        <div class="col-lg-6">
            <h5 class="sizes"><b>Convênio:</b>
                <span class="size" data-toggle="tooltip" title="small">{{ immunotherapy.patient.convenio }}</span>
            </h5>
            <h5 class="sizes"><b>Remédio:</b>
                <span class="size" data-toggle="tooltip" title="small">{{ immunotherapy.medicine.name }} ( {{ immunotherapy.medicine.volume }} )</span>
            </h5>
            <h5 class="sizes"><b>Data de ínicio:</b>
                <span class="size" data-toggle="tooltip" title="small">{{ immunotherapy.start_date|date:'d/m/Y' }}</span>
            </h5>
            {% if immunotherapy.status == immunotherapy.FINISHED %}
                <h5 class="sizes"><b>Data de Fim:</b>
                    <span class="size" data-toggle="tooltip" title="small">{{ immunotherapy.end_date|date:'d/m/Y' }}</span>
                </h5>
            {% endif %}
            <h5 class="sizes"><b>Doença: </b>
                <span class="size" data-toggle="tooltip" title="small">{{ immunotherapy.illness.name }}</span>
            </h5>
        </div>
        <div class="col-lg-6">
            <h5 class="sizes"><b>Total de Frascos:</b>
                <span class="size" data-toggle="tooltip" title="small">{{ immunotherapy.total_bottles }}</span>
            </h5>
            <h5 class="sizes"><b>Frasco Atual:</b>
                <span class="size" data-toggle="tooltip" title="small">{{ immunotherapy.last_application.bottle_number|default:1 }}</span>
            </h5>
            <h5 class="sizes"><b>Total de aplicações por frasco:</b>
                <span class="size" data-toggle="tooltip" title="small">{{ immunotherapy.total_applications }}</span>
            </h5>
            <h5 class="sizes"><b>Aplicação Atual:</b>
                <span class="size" data-toggle="tooltip" title="small">{{ immunotherapy.last_application.application_number|default:'Nenhuma aplicação realizada' }}</span>
            </h5>
            <h5 class="sizes"><b>Data da ultima Aplicação:</b>
                <span class="size" data-toggle="tooltip" title="small"> {{ immunotherapy.last_application.date|date:'d/m/Y'|default:'Nenhuma aplicação realizada' }}</span>
            </h5>
            <h5 class="sizes"><b>Status:</b>
                <span class="badge {% if immunotherapy.status == immunotherapy.IN_PROGRESS %} badge-primary {% else %} badge-success {% endif %}" data-toggle="tooltip" title="small">{{ immunotherapy.get_status_display }}</span>
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header pb-0 bg-primary">
                    <h5 class="card-title text-white">Aplicações</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="applicationTable">
                            <thead>
                            <tr>
                                <th class="text-center">Aplicação</th>
                                <th>Data</th>
                                <th>Aplicador</th>
                                <th>Dosagem</th>
                                <th>Frasco</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for application in immunotherapy.application_set.all %}
                                <tr>
                                    <td class="text-center">{{ application.application_number }}</td>
                                    <td>{{ application.date|date:'d/m/Y' }}</td>
                                    <td>{{ application.applicator }}</td>
                                    <td>{{ application.dosage }}</td>
                                    <td>{{ application.bottle_number }}</td>
                                    <td>
                                        <form id="delete-application-form" method="post" action="{% url 'application_delete' immunotherapy.id application.id %}">
                                            {% csrf_token %}
                                            <button type="button" data-remote="{% url 'application_update' immunotherapy.id application.id %}"  data-toggle="modal" data-target="#applicationModal" class="btn btn-info btn-sm">
                                                Editar
                                            </button>
                                            <button type="submit" onclick="return confirm('Você tem certeza que deseja excluir?');" class="btn btn-sm btn-danger">
                                                Excluir
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="applicationModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight"></div>
        </div>
    </div>

    <div class="modal inmodal fade" id="finisheModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight"></div>
        </div>
    </div>

    <div class="modal inmodal fade" id="tagModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight"></div>
        </div>
    </div>

    <div class="modal inmodal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight"></div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script src="{% static 'libs/vanilla-text-mask/vanilla-text-mask.js' %}"></script>
    <script src="{% static 'libs/vanilla-text-mask/text-mask-addons.js' %}"></script>

    <script src="{% static 'vendor/datatables/accent-neutralise.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#applicationTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
                },
                order: [[ 0, "desc" ], ]
            });

            $('body').on('click', '[data-toggle="modal"]', function(){
                $($(this).data("target")+' .modal-content').load($(this).data("remote"));
            });

        });
    </script>

{% endblock %}