<div class="modal-header">
    <h5 class="modal-title">Finalizar Imunoterapia</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form method="post" action="{% url 'immunotherapy_finishe' immunotherapy.id %}" id="finish-form">
        {% csrf_token %}

        <div class="form-group row">
            <div class="col-md-12">
                <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}{% if form.end_date.field.required %}*{% endif %}</label>
                {{ form.end_date }}
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="return $('#finish-form').submit()">Finalizar</button>
</div>

{% block script %}

    <script>
        $(function () {
            vanillaTextMask.maskInput({
                inputElement: $('#{{ form.end_date.id_for_label }}')[0],
                mask: [/[0-3]/, /\d/, '/', /[0-1]/, /\d/, '/', /[1-2]/, /\d/, /\d/, /\d/],
                guide: false
            });
        });
    </script>
{% endblock %}