<div class="modal-header">
    <h5 class="modal-title">Adicionar Aplicação</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form method="post" action="{% url 'application_create' immunotherapy.id %}">
        {% csrf_token %}

        <div class="form-group row">
            <div class="col-md-12">
                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}{% if form.date.field.required %}*{% endif %}</label>
                {{ form.date }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label for="{{ form.applicator.id_for_label }}">{{ form.applicator.label }}{% if form.applicator.field.required %}*{% endif %}</label>
                {{ form.applicator }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label for="{{ form.dosage.id_for_label }}">{{ form.dosage.label }}{% if form.dosage.field.required %}*{% endif %}</label>
                {{ form.dosage }}
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="return $('form').submit()">Salvar</button>
</div>

{% block script %}

    <script>
        $(function () {
            vanillaTextMask.maskInput({
                inputElement: $('#{{form.date.id_for_label}}')[0],
                mask: [/[0-3]/, /\d/, '/', /[0-1]/, /\d/, '/', /[1-2]/, /\d/, /\d/, /\d/],
                guide: false
            });
        });
    </script>
{% endblock %}
