<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clínica Respirar</title>

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    {% block head %}{% endblock %}

</head>
<body>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <li class="sidebar-brand d-flex align-items-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-clinic-medical"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Clínica Respisrar</div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item {{ schedulePage }}">
            <a class="nav-link" href="{% url 'schedule' %}">
                <i class="fas fa-fw fa-calendar-alt"></i>
                <span>Agenda</span></a>
        </li>

        <li class="nav-item {{ patientsPage }}">
            <a class="nav-link" href="{% url 'patients' %}">
                <i class="fas fa-fw fa-user-friends"></i>
                <span>Pacientes</span></a>
        </li>

        <li class="nav-item {{ pharmacyMenu }}">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pharmacyMenu" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-prescription-bottle-alt"></i>
                <span>Farmácia</span>
            </a>
            <div id="pharmacyMenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item {{ categoryPage }}" href="{% url 'categories' %}">Categorias</a>
                    <a class="collapse-item {{ medicinePage }}" href="{% url 'medicines' %}">Medicamentos</a>
                    <a class="collapse-item {{ stockPage }}" href="{% url 'stock' %}">Estoque</a>
                    <a class="collapse-item {{ freeSamplePage }}" href="{% url 'freesample_list' %}">Amostra Grátis</a>
                </div>
            </div>
        </li>

        <li class="nav-item {{ illnessPage }}">
            <a class="nav-link" href="{% url 'illnesses' %}">
                <i class="fas fa-fw fa-diagnoses"></i>
                <span>Doenças</span>
            </a>
        </li>

        <li class="nav-item {{ immunotherapyPage }}">
            <a class="nav-link" href="{% url 'immunotherapy' %}">
                <i class="fas fa-fw fa-laptop-medical"></i>
                <span>Imunoterapia</span>
            </a>
        </li>

        <li class="nav-item {{ spirometryMenu }}">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#spirometryMenu" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-diagnoses"></i>
                <span>Espirometria</span>
            </a>
            <div id="spirometryMenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item {{ spirometryPage }}" href="{% url 'spirometry_list' %}">Espirometria</a>
                    <a class="collapse-item {{ materialPage }}" href="{% url 'material_list' %}">Materiais</a>
                    <a class="collapse-item {{ stockPage }}" href="{% url 'material_stock_list' %}">Estoque</a>
                </div>
            </div>
        </li>

        <li class="nav-item {{ reportMenu }}">
            <a class="nav-link" href="{% url 'reports' %}">
                <i class="fas fa-fw fa-file"></i>
                <span>Relatorios</span>
            </a>
        </li>

    </ul>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

                {% block header %}{% endblock %}

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.get_full_name }}</span>
                            <img alt="" class="img-profile rounded-circle" src="{% static 'img/avatar.png' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Sair
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <div class="container-fluid">

                {% block content %}{% endblock %}

            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy;  Clínica Respirar &copy; 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

{% block script %}{% endblock %}

</body>
</html>