{% extends 'base.html' %}

{% load static patient_tag %}

{% block head %}

    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/cropper/css/cropper.css' %}">
    <link rel="stylesheet" href="{% static 'libs/cropper/css/main.css' %}">

{% endblock %}

{% block header %}
    <h2>
        {{ patient.name }}
    </h2>
{% endblock %}

{% block content %}

    <div class="row my-2">
        <div class="col-lg-9 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#" data-target="#profile" data-toggle="tab" class="nav-link active">Perfil</a>
                </li>
                <li class="nav-item">
                    <a href="#" data-target="#messages" data-toggle="tab" class="nav-link">Imunoterapias</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="sizes mb-2"><b>Data de nascimento: </b>
                                <span class="size" data-toggle="tooltip" title="small"> {{ patient.birth_date|date:'d/m/Y'|default:"Não informado" }}</span>
                            </h5>
                            {% if patient.birth_date %}
                                <h5 class="sizes mb-2"><b>Idade: </b>
                                    <span class="size" data-toggle="tooltip" title="small">{{patient.birth_date|age}} anos</span>
                                </h5>
                            {% endif %}
                            <h5 class="sizes mb-2"><b>CPF: </b>
                                <span class="size" data-toggle="tooltip" title="small">{{ patient.cpf|default:'Não informado' }}</span>
                            </h5>
                            <h5 class="sizes mb-2"><b>RG: </b>
                                <span class="size" data-toggle="tooltip" title="small">{{ patient.rg|default:'Não informado' }}</span>
                            </h5>
                            <h5 class="sizes mb-2"><b>Convênio: </b>
                                <span class="size" data-toggle="tooltip" title="small">{{ patient.convenio|default:'Não informado' }}</span>
                            </h5>
                            <h5 class="sizes mb-2"><b>Telefone: </b>
                                <span class="size" data-toggle="tooltip" title="small">{{ patient.phone|default:'Não informado' }}</span>
                            </h5>
                            <h5 class="sizes mb-2"><b>Endereço: </b>
                                <span class="size" data-toggle="tooltip" title="small">{{ patient.address }}, {{ patient.city }} - {{ patient.state }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="messages">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover table-striped" id="id_table">
                                <thead>
                                <tr>
                                    <th>Remedio</th>
                                    <th>Data de Inicio</th>
                                    <th>Data de Fim</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for imunotherapy in  patient.immunotherapy_set.all %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'immunotherapy_detail' imunotherapy.id %}">{{ imunotherapy.medicine.name }}</a>
                                        </td>
                                        <td>{{ imunotherapy.start_date|date:'d/m/Y' }}</td>
                                        <td>{{ imunotherapy.end_date|date:'d/m/Y'|default:'Não informada' }}</td>
                                        <td>{{ imunotherapy.get_status_display }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 order-lg-1 text-center">
            {% if patient.photo %}
                <img src="{{ patient.photo.url }}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            {% else %}
                <img src="{% static 'img/avatar.png' %}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            {% endif %}
            <button type="button" class="btn btn-info mt-4" data-remote="{% url 'patient_photo' patient.id %}"  data-toggle="modal" data-target="#changePhotoModal">Alterar foto</button>
        </div>
    </div>

    <div class="modal inmodal fade" id="changePhotoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight"></div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script src="{% static 'libs/cropper/cropper.js' %}"></script>
    <script src="{% static 'libs/cropper/js/cropper.js' %}"></script>

    <script src="{% static 'vendor/datatables/accent-neutralise.js' %}"></script>

    <script src={% static "libs/webcamjs/webcam.min.js" %}></script>

    <script>
        $(document).ready(function() {

            $('#id_table').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
                },
                columnDefs: [ {
                    "targets": 2,
                    "orderable": false
                }]
            });

            $('body').on('click', '[data-toggle="modal"]', function(){
                $($(this).data("target")+' .modal-content').load($(this).data("remote"));
            });

        });
    </script>

{% endblock %}