{% extends 'base.html' %}

{% load static %}

{% block header %}
    <h2>
        {% if form.instance.pk %} Editar {% else %} Cadastrar {% endif %} Pacientes
    </h2>
{% endblock %}

{% block  content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}{% if form.name.field.required %}*{% endif %}</label>
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="{{ form.convenio.id_for_label }}">{{ form.convenio.label }}{% if form.convenio.field.required %}*{% endif %}</label>
                                {{ form.convenio }}
                            </div>
                            <div class="col-sm-6">
                                <label for="{{ form.birth_date.id_for_label }}">{{ form.birth_date.label }}{% if form.birth_date.field.required %}*{% endif %}</label>
                                {{ form.birth_date }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}{% if form.cpf.field.required %}*{% endif %}</label>
                                {{ form.cpf }}
                            </div>
                            <div class="col-sm-4">
                                <label for="{{ form.rg.id_for_label }}">{{ form.rg.label }}{% if form.rg.field.required %}*{% endif %}</label>
                                {{ form.rg }}
                            </div>
                            <div class="col-sm-4">
                                <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}{% if form.phone.field.required %}*{% endif %}</label>
                                {{ form.phone }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="{{ form.address.id_for_label }}">{{ form.address.label }}{% if form.address.field.required %}*{% endif %}</label>
                                {{ form.address }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="{{ form.city.id_for_label }}">{{ form.city.label }}{% if form.city.field.required %}*{% endif %}</label>
                                {{ form.city }}
                            </div>
                            <div class="col-sm-6">
                                <label for="{{ form.state.id_for_label }}">{{ form.state.label }}{% if form.state.field.required %}*{% endif %}</label>
                                {{ form.state }}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="{% url 'patients' %}" class="btn btn-secondary btn-sm">Cancelar</a>
                                <button class="btn btn-primary btn-sm" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'libs/vanilla-text-mask/vanilla-text-mask.js' %}"></script>
    <script src="{% static 'libs/vanilla-text-mask/text-mask-addons.js' %}"></script>

    <script>
        $(document).ready(function() {

            $(function () {
                vanillaTextMask.maskInput({
                    inputElement: $('#{{form.birth_date.id_for_label}}')[0],
                    mask: [/[0-3]/, /\d/, '/', /[0-1]/, /\d/, '/', /[1-2]/, /\d/, /\d/, /\d/],
                    guide: false
                });
                vanillaTextMask.maskInput({
                    inputElement: $('#{{form.phone.id_for_label}}')[0],
                    mask: ['(', /[1-9]/, /\d/, ')', ' ', /\d/, /\d/, /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/],
                    guide: false
                });
                vanillaTextMask.maskInput({
                    inputElement: $('#{{form.cpf.id_for_label}}')[0],
                    mask: [ /[1-9]/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, '-',/\d/, /\d/, /\d/, '.', /\d/, /\d/],
                    guide: false
                });
                vanillaTextMask.maskInput({
                    inputElement: $('#{{form.rg.id_for_label}}')[0],
                    mask: [ /[1-9]/, /\d/, /\d/, /\d/, /\d/, /\d/,/\d/, '-', /\d/],
                    guide: false
                });
            });
        })

    </script>



{% endblock %}