{% extends 'base.html' %}

{% load static %}

{% block head %}

    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}

{% block header %}
    <h2>
        Pacientes &nbsp
        <a href="{% url 'patient_create' %}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp  Cadastrar Paciente</a>
    </h2>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="dataTable">
                    <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Data de nascimento</th>
                        <th style="width: 10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for patient in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'patient_detail' patient.id %}">{{ patient.name }}</a>
                            </td>
                            <td>{{ patient.birth_date|date:'d/m/Y' }}</td>
                            <td>
                                <form method="post" action="{% url 'patient_delete' patient.id %}" class="p-0 m-0">
                                    {% csrf_token %}
                                    <a href="{% url 'patient_update' patient.id %}" class="btn btn-write btn-sm">
                                        <i class="fa fa-fw fa-edit"></i>
                                    </a>
                                    <button type="submit" class="btn btn-write btn-sm" onclick="return confirm('Você tem certeza que deseja remover?');">
                                        <i class="fa fa-fw fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
                },
                columnDefs: [ {
                    "targets": 2,
                    "orderable": false
                }],
            });
        });
    </script>

{% endblock %}