{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'libs/select2-4.0.12/dist/css/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <h2>
        {% if form.instance.pk %} Editar {% else %} Cadastrar {% endif %} Lote
    </h2>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="{{ form.medicine.id_for_label }}">{{ form.medicine.label }}{% if form.medicine.field.required %}*{% endif %}</label>
                                {{ form.medicine }}
                                {% for error in form.medicine.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="{{ form.number.id_for_label }}">{{ form.number.label }}{% if form.number.field.required %}*{% endif %}</label>
                                {{ form.number }}
                                {% for error in form.number.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-sm-6">
                                <label for="{{ form.amount.id_for_label }}">{{ form.amount.label }}{% if form.amount.field.required %}*{% endif %}</label>
                                {{ form.amount }}
                                {% for error in form.amount.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="{{ form.entry_date.id_for_label }}">{{ form.entry_date.label }}{% if form.entry_date.field.required %}*{% endif %}</label>
                                {{ form.entry_date }}
                                {% for error in form.entry_date.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-sm-6">
                                <label for="{{ form.shelf_life_date.id_for_label }}">{{ form.shelf_life_date.label }}{% if form.shelf_life_date.field.required %}*{% endif %}</label>
                                {{ form.shelf_life_date }}
                                {% for error in form.shelf_life_date.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="{% url 'categories' %}" class="btn btn-secondary btn-sm">Cancelar</a>
                                <button class="btn btn-primary btn-sm" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'libs/vanilla-text-mask/vanilla-text-mask.js' %}"></script>
    <script src="{% static 'libs/vanilla-text-mask/text-mask-addons.js' %}"></script>

    <script>
        $(function () {
            vanillaTextMask.maskInput({
                inputElement: $('#{{form.entry_date.id_for_label}}')[0],
                mask: [/[0-3]/, /\d/, '-', /[0-1]/, /\d/, '-', /[1-2]/, /\d/, /\d/, /\d/],
                guide: false
            });
            vanillaTextMask.maskInput({
                inputElement: $('#{{form.shelf_life_date.id_for_label}}')[0],
                mask: [/[0-3]/, /\d/, '-', /[0-1]/, /\d/, '-', /[1-2]/, /\d/, /\d/, /\d/],
                guide: false
            });
        });
    </script>

{% endblock %}